@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* leak Logger body styles */
#leak-logger {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#leak-logger .wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1600px;
  margin: 20px auto;
  padding: 20px;
  gap: 30px;
}

#leak-logger .container h1,
#leak-logger .container h2,
#leak-logger .container h3,
#leak-logger .container h4,
#leak-logger .container h5 {
  font-family: "Roboto", sans-serif;
}

#leak-logger .container {
  font-family: monospace;
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  max-height: 75vh;
  overflow-x: hidden;
  word-wrap: break-word;
}

#leak-logger .container div {
  margin-bottom: 10px;
  padding: 8px;
  border-left: 3px solid #005ea1;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#leak-logger #log,
#leak-logger #log2,
#leak-logger #leaklog {
  white-space: pre-wrap;
}

#leak-logger .input-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

#leak-logger .input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  text-align: center;
}

#leak-logger #tabDropdown3 {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

#leak-logger #openTabButton3 {
  padding: 10px 20px;
  padding-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #0075c8;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#leak-logger #openTabButton3:hover {
  background-color: #4b5e6b;
}
